html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Mogra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Mogra Regular'), local('Mogra-Regular'), url(https://fonts.gstatic.com/s/mogra/v6/f0X40eSs8c95TCo_BPY.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeon Sung';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yeon Sung Regular'), local('YeonSung-Regular'), url(https://fonts.gstatic.com/s/yeonsung/v8/QldMNTpbohAGtsJvUn6BTlle.ttf) format('truetype');
}
.header-font {
  font-family: 'Mogra', cursive;
}
.p-font {
  font-family: 'Yeon Sung', cursive;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #77BFBB;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Yeon Sung', cursive;
  color: #0E0E40;
}
@media (max-width: 500px) {
  .container {
    width: 99%;
    margin: 0 auto;
    display: flex;
    background: #77BFBB;
  }
}
.container .header-img {
  display: flex;
  height: 300px;
  width: 100%;
}
@media (max-width: 500px) {
  .container .header-img {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.container .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  width: 100%;
}
@media (max-width: 500px) {
  .container .nav-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}
.container .nav-container .nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 45%;
  padding-bottom: 1%;
}
.container .nav-container .nav-bar .nav-item {
  text-decoration: none;
  color: #A64000;
  font-size: 1.1rem;
  border: 1px solid #A64000;
  border-radius: 12px;
  box-shadow: 5px 10px #A64000;
  padding: 2%;
  margin: 10%;
}
.container .about {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background: #A64000;
}
@media (max-width: 500px) {
  .container .about {
    width: 96%;
    display: flex;
  }
}
.container .about img {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .about img {
    width: 99%;
    display: flex;
  }
}
.container .about h2 {
  font-size: 40px;
  padding: 5px;
  margin: 5px;
  font-family: 'Mogra', cursive;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .container .about h2 {
    margin-top: 20px;
  }
}
.container .about p {
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
}
.container .team {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
@media (max-width: 500px) {
  .container .team {
    width: 96%;
    display: flex;
    flex-direction: column;
  }
}
.container .team h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Mogra', cursive;
  text-decoration: underline;
}
.container .team .members {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .team .members {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.container .team .members .ui-developers {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
@media (max-width: 500px) {
  .container .team .members .ui-developers {
    width: 97%;
    display: flex;
    flex-direction: column;
  }
}
.container .team .members .ui-developers h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  font-family: 'Mogra', cursive;
}
.container .team .members .ui-developers .person {
  display: flex;
  flex-direction: column;
  border: 1px solid #0E0E40;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  width: 30%;
}
@media (max-width: 500px) {
  .container .team .members .ui-developers .person {
    width: 97%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.container .team .members .ui-developers .person .person-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .team .members .ui-developers .person .person-img {
    width: 98%;
    margin-left: 5px;
  }
}
.container .team .members .ui-developers .person h4 {
  flex-direction: row;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-family: 'Mogra', cursive;
}
.container .team .members .ui-developers .person h4 a {
  color: #0E0E40;
}
.container .team .members .ui-developers .person p {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
.container .team .members .react-developers {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
@media (max-width: 500px) {
  .container .team .members .react-developers {
    width: 97%;
    display: flex;
    flex-direction: column;
  }
}
.container .team .members .react-developers h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  font-family: 'Mogra', cursive;
}
.container .team .members .react-developers .person {
  display: flex;
  flex-direction: column;
  border: 1px solid #0E0E40;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  width: 25%;
}
@media (max-width: 500px) {
  .container .team .members .react-developers .person {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.container .team .members .react-developers .person .person-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .team .members .react-developers .person .person-img {
    width: 98%;
    margin-left: 5px;
  }
}
.container .team .members .react-developers .person h4 {
  flex-direction: row;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-family: 'Mogra', cursive;
}
.container .team .members .react-developers .person h4 a {
  color: #0E0E40;
}
.container .team .members .react-developers .person p {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
.container .team .members .PL {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
@media (max-width: 500px) {
  .container .team .members .PL {
    width: 98%;
    display: flex;
    flex-direction: column;
  }
}
.container .team .members .PL h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  font-family: 'Mogra', cursive;
}
@media (max-width: 500px) {
  .container .team .members .PL h3 {
    width: 50%;
    margin-left: 110px;
  }
}
.container .team .members .PL .leader {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 75%;
  border: 1px solid #0E0E40;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .container .team .members .PL .leader {
    width: 98%;
  }
}
.container .team .members .PL .leader .person-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .team .members .PL .leader .person-img {
    width: 98%;
  }
}
.container .team .members .PL .leader h4 {
  flex-direction: row;
  text-align: center;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-family: 'Mogra', cursive;
}
.container .team .members .PL .leader h4 a {
  color: #0E0E40;
}
.container .team .members .PL .leader p {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
.container footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  width: 100%;
  align-content: stretch;
}
@media (max-width: 500px) {
  .container footer {
    width: 100%;
  }
}
.container footer nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 35%;
  padding-bottom: 1%;
}
.container footer nav a {
  text-decoration: none;
  color: #A64000;
  font-size: 1.1rem;
  border: 1px solid #A64000;
  border-radius: 10px;
  box-shadow: 5px 10px #A64000;
  padding: 2%;
  margin: 10%;
}
