// RESET Code //
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Cusstom code //
@import url('https://fonts.googleapis.com/css?family=Mogra|Yeon+Sung&display=swap');

@mobile: ~"(max-width: 500px)";

.header-font {
    font-family: 'Mogra', cursive;
}

.p-font {
    font-family: 'Yeon Sung', cursive;
}

.display-flex(@justify, @align){
    display: flex;
    justify-content: @justify;
    align-items: @align;
}


.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #77BFBB;
    max-width: 1000px;
    margin: 0 auto;
    .p-font();
    color: #0E0E40;

    @media @mobile {
        width: 99%;
        margin: 0 auto;
        display: flex;
        background: #77BFBB;
    }

    .header-img {
        display: flex;
        height: 300px;
        width: 100%;

        @media @mobile {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: stretch;
        background: white;
        width: 100%;

        @media @mobile {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
        }

        .nav-bar {
            .display-flex(space-evenly, center);
            margin: 0 45%;
            padding-bottom: 1%;

            .nav-item {
                text-decoration: none;
                color: #A64000;
                font-size: 1.1rem;
                border: 1px solid #A64000;
                border-radius: 12px;
                box-shadow: 5px 10px #A64000;
                padding: 2%;
                margin: 7%;
            }
        }
    }
    .about {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        text-align: center;
        background: #A64000;

        @media @mobile {
            width: 96%;
            display: flex;
        }

        img {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;

            @media @mobile {
                width: 99%;
                display: flex;
            }
        }

        h2 {
            font-size: 40px;
            padding: 5px;
            margin: 5px;
            .header-font();
            text-decoration: underline;

            @media @mobile {
                margin-top: 20px;
            }
        }

        p {
            font-size: 1.2em;
            padding: 5px;
            margin: 5px;
        }
    }
    .team {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 5px;

        @media @mobile {
            width: 96%;
            display: flex;
            flex-direction: column;
        }
        
        h2 {
            font-size: 40px;
            text-align: center;
            .header-font();
            text-decoration: underline;
        }

        .members {
            display: flex;
            flex-direction: column;

            @media @mobile {
                width: 99%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .ui-developers {
                display: flex;
                flex-direction: row;
                padding: 5px;
                margin: 5px;

                @media @mobile {
                    width: 97%;
                    display: flex;
                    flex-direction: column;
                }

                h3 {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 5px;
                    margin: 5px;
                    font-size: 30px;
                    // text-decoration: underline;
                    .header-font();
                }

                .person {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #0E0E40;
                    border-radius: 20px;
                    padding: 5px;
                    margin: 5px;
                    width: 30%;

                    @media @mobile {
                        width: 97%;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                    }

                    .person-img {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        align-items: center;

                        @media @mobile {
                            width: 98%;
                            margin-left: 5px;
                        }

                    }

                    h4 {
                        flex-direction: row;
                        text-align: center;
                        padding: 5px;
                        margin: 5px;
                        font-size: 20px;
                        .header-font();
                        
                        a {
                            color: #0E0E40;
                        }
                    }

                    p {
                        display: flex;
                        flex-direction: row;
                        padding: 5px;
                        margin: 5px;
                    }
                }
            }
            .react-developers {
                display: flex;
                flex-direction: row;
                padding: 5px;
                margin: 5px;

                @media @mobile {
                    width: 97%;
                    display: flex;
                    flex-direction: column;
                }

                h3 {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 5px;
                    margin: 5px;
                    font-size: 30px;
                    // text-decoration: underline;
                    .header-font();
                }

                .person {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #0E0E40;
                    border-radius: 20px;
                    padding: 5px;
                    margin: 5px;
                    width: 25%;

                    @media @mobile {
                        width: 97%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                    }

                    .person-img {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: center;
                        align-content: center;
                        align-items: center;

                        @media @mobile {
                            width: 98%;
                            margin-left: 5px;
                        }

                    }

                    h4 {
                        flex-direction: row;
                        text-align: center;
                        padding: 5px;
                        margin: 5px;
                        font-size: 20px;
                        .header-font();
                        
                        a {
                            color: #0E0E40;
                        }
                    }

                    p {
                        display: flex;
                        flex-direction: row;
                        padding: 5px;
                        margin: 5px;
                    }
                }
            }

            .PL {
                display: flex;
                flex-direction: row;
                padding: 5px;
                margin: 5px;
                // border: 1px solid black;
                // border-radius: 20px;

                @media @mobile {
                    width: 98%;
                    display: flex;
                    flex-direction: column;
                }

                h3 {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 5px;
                    margin: 5px;
                    font-size: 30px;
                    // text-decoration: underline;
                    .header-font();

                    @media @mobile {
                        width: 50%;
                        margin-left: 110px;
                    }

                }

                .leader {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    margin: 5px;
                    width: 75%;
                    border: 1px solid #0E0E40;
                    border-radius: 20px;

                    @media @mobile {
                        width: 98%;
                    }

                    .person-img {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: center;
                        align-content: center;
                        align-items: center;

                        @media @mobile {
                            width: 98%;
                        }

                    }

                    h4 {
                        flex-direction: row;
                        text-align: center;
                        padding: 5px;
                        margin: 5px;
                        font-size: 20px;
                        .header-font();
                        
                        a {
                            color: #0E0E40;
                        }
                    }

                    p {
                        display: flex;
                        flex-direction: row;
                        padding: 5px;
                        margin: 5px;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: white;
        width: 100%;
        align-content: stretch;

        @media @mobile {
            width: 100%;
        }

        nav {
            .display-flex(space-evenly, center);
            margin: 0 35%;
            padding-bottom: 1%;

            a {
                text-decoration: none;
                color: #A64000;
                font-size: 1.1rem;
                border: 1px solid #A64000;
                border-radius: 10px;
                box-shadow: 5px 10px #A64000;
                padding: 2%;
                margin: 7%;
            }
        } 
    }
}
