.home{
    margin-top: 15%;

    @media @tablet{
        margin-top:30%;
    }

    @media @mobile{
        margin-top: 40%;
    }

    .header_img{
    
        img{
            width: 100%;
            height: 100%;
            margin-bottom: 2%;
            border-radius: 10px;
        }
    }

    .intro_content{
        padding-bottom: 2%;
        border-bottom: 2px solid black;

        h2{
            padding-bottom: 1%;
        }
    }


    .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media @mobile{
            .width();
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        
        .text-content {
            width: 48%;
            padding-right: 1%;

        h2{
            margin:2%;
        }

        .fa-grin-tears{
            font-size: 100px;
            .width();
            margin-top: 10%;
            display:flex;
            justify-content: center;

        }

        @media @mobile{
            width: 90%;
        }
        }

        .img-content {
            width: 48%;
            padding-left: 1%;

        @media @mobile{
            width: 90%;
        }

            img {
                border-radius: 10px;
                .width();
                box-shadow: 5px 10px #A64000;
            }
        }
    }

    .inverse-content {
        padding-bottom: 30px;
        border-bottom: 2px solid black;

        @media @tablet{
            .width(); 
        }

        @media @mobile{
            .width();
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            padding-top:30px;
            display: flex;
            flex-direction: column-reverse;
            align-content: center;
        }

        .text-content {
            padding-left: 1%;
            padding-right: 0;

        @media @tablet{
            height: 60%;
        }  


        }

            .img-content {
                padding-left: 0;
                box-shadow: 5px 10px #A64000;
                border-radius: 10px;

            @media @mobile{
                width: 90%;
                height: 0%;
            }    
               

            @media @mobile{
                width: 90%;

            }
        }

    }

    .joke-content {
        padding-top: 0px;
        display: flex;
        justify-content: space-between;


        @media @mobile {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        .joke {
        width: 30%;
        margin-bottom: 20px;
        
        h3{
            margin: 2%;
        }

        #line1{
            display:none;
            font-size: 1.6rem;
            padding-top: 5%;
        }

        #line2{
            display:none;
            font-size: 1.6rem;
            padding-top: 5%;
        }

        #line3{
            display:none;
            font-size: 1.6rem;
            padding-top: 5%;
        }
        

        @media @mobile{
            width: 75%;
        }

        .btn{
            .custom-btn(black, white);
            margin-top: 5%;
            
            
            }
        }

    }

}//home